/**
 * @file
 * This file defines the page layout structures.
 */

#page {
  margin: 0 auto;
  max-width: 1280px;
}

/**
 * To change the width of a sidebar, just modify the corresponding values of this sidebar.
 * For example, If you want to change the width of the right sidebar to 250px, change the
 * value of each line commented "Right Sidebar width" to 250px
 */

#content {
  float: left;
  width: 100%;
  margin-right: -100%;
  padding: 0;
}

.sidebar {
  float: left;
}

.two-sidebars #content-inner {
  margin-left: 200px;   /* Left Sidebar width */
  margin-right: 200px;  /* Right Sidebar width */
}

.sidebar-second #content-inner {
  margin-right: 200px;  /* Right Sidebar width */
}

.sidebar-first #content-inner {
  margin-left: 200px;   /* Left Sidebar width */
}

#sidebar-first {
  width: 200px;
  margin-right: -200px;
}

#sidebar-second {
  float: right;
  width: 200px;
}

#section-footer {
  clear: both;
  float: none;
}

/* Media queries */

@media only screen and (max-width: 768px) {
  body {
    width: 95%;
  }

  #content {
    float: none;
    margin-right: 0;
  }

  .two-sidebars #content-inner,
  .sidebar-second #content-inner,
  .sidebar-first #content-inner {
    margin-left: 0;
    margin-right: 0;
  }

  #sidebar-first {
    float: left;
    width: 49%;
    margin-right: 0;
  }

  #sidebar-second {
    float: right;
    width: 49%;
  }

  .sidebar-first #sidebar-first,
  .sidebar-second #sidebar-second {
    float: none;
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  body {
    width: 90%;
  }

  #sidebar-first,
  #sidebar-second {
    float: none;
    width: 100%;
    margin-right: 0;
  }
}
