/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 *
 * Based on Zen 7.x-5.1 Starter kit.
 */

/**
 * Body
 */

body {
}

#page {
}

/**
 * Header
 */

#section-header {
  padding: 0 1em;
}

#logo { /* Wrapping link for logo */
}

#logo img {
  vertical-align: bottom;
}

#name-and-slogan { /* Wrapper for website name and slogan */
}

#site-name { /* The name of the website */
}

#site-name a:link,
#site-name a:visited {
}

#site-name a:hover,
#site-name a:focus {
}

#site-slogan { /* The slogan (or tagline) of a website */
}

.region-header { /* Wrapper for any blocks placed in the header region */
  clear: both; /* Clear the logo */
}

#section-navigation {
  clear: both;
}

#section-navigation ul.inline li {
  font-size: 1.375em;
  line-height: 1.625em;
  padding: 0 1em 0 0;
}

#section-main {
  padding: 0 1em;
}

#content-inner {}

.two-sidebars #content-inner {
  padding: 0 1em;
}

.sidebar-second #content-inner {
  padding: 0 1em 0 0;
}

.sidebar-first #content-inner {
  padding: 0 0 0 1em;
}

#sidebar-first .region {
}

#sidebar-second .region {
}

#section-footer {
  padding: 0 1em;
}

/* clear classes for content */

.clearleft  { clear: left; }
.clearright { clear: right; }
.clearboth  { clear: both; }

/* Float classes for images */

.floatleft  { float: left;  margin: 0 1em 0.5em 0; }
.floatright { float: right; margin: 0 0 0.5em 1em; }

/* Media queries */

@media only screen and (max-width: 768px) {
  h1 { font-size: 3em;   }
  h2 { font-size: 2em;   }
  h3 { font-size: 1.5em; }
}

@media only screen and (max-width: 480px) {
  h1 { font-size: 2em;   }
  h2 { font-size: 1.6em;   }
  h3 { font-size: 1.4em; }
}
