/**
 * @file
 * Overrides for print media.
 */

body, #page {
  width: 100%;
}

#section-navigation,
#sidebar-first,
#sidebar-second,
.region-page-top,
.breadcrumb,
.tabs,
.links {
  display: none;
}

.two-sidebars #content-inner,
.sidebar-second #content-inner,
.sidebar-first #content-inner {
  margin-left: 0;
  margin-right: 0;
}

#site-name a, .title a {
  text-decoration: none;
}

/* This was set in main.css and further needs refinement, so zapping all for now. */
a[href]:after, #site-name a[href]:after, .title a[href]:after {
  content: none;
}

